<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Student_Attendance_Reporting.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Student_Attendance_Reporting.My.MySettings>
            <setting name="SQLConString" serializeAs="String">
                <value>Server=DEVSQLCENTRAL.AD.VU.EDU.AU, 1433;Integrated Security=True;Connect Timeout=30;Encrypt=True;Trust Server Certificate=True;Application Intent=ReadWrite;Multi Subnet Failover=False;</value>
            </setting>
            <setting name="ExemplarApiToken" serializeAs="String">
                <value></value>
            </setting>
            <setting name="ExemplarApiBaseUrl" serializeAs="String">
                <value>https://api.profiling.exemplarsystems.com.au</value>
            </setting>
            <setting name="ExemplarQualificationId" serializeAs="String">
                <value></value>
            </setting>
        </Student_Attendance_Reporting.My.MySettings>
    </userSettings>
</configuration>
